# Homework - #1
https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/cohorts/2024/01-docker-terraform/homework.md

## Q1

Now run the command to get help on the "docker build" command:

`docker build --help`

Do the same for "docker run".
Which tag has the following text? - Automatically remove the container when it exits

- `--delete`
- `--rc`
- `--rmc`
- **`--rm`**

In [39]:
!docker run --help | grep "\-\-rm"

      --rm                             Automatically remove the container

### A1
`--rm`

---

## Q2

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list ).

What is version of the package wheel ?

- 0.42.0
- 1.0.0
- 23.0.1
- 58.1.0

In [6]:
!docker run --rm -it --entrypoint bash python:3.9 -c "pip show wheel | grep Version"

Version: 0.42.0

### A2 

`0.42.0`

---

## Prepare data
Run Postgres and load data as shown in the videos We'll use the green taxi trips from September 2019:

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

You will also need the dataset with zones:

https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [73]:
url_zones = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
url_trips = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
db_user = "root"
db_password = "root"
db_host = "postgres"
db_port = "5432"
database = "ny_taxi"
table_trips = "green_tripdata"
table_zones = "zone_lut"
parse_dates = " ".join([
    'tpep_pickup_datetime',
    'tpep_dropoff_datetime',
])
compression = "gzip"

In [58]:
!docker compose up -d

[+] Running 2/0
 ✔ Container pg-database  Running                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s
[+] Running 2/2
 ✔ Container pg-database  Running                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s
[+] Running 2/2
 ✔ Container pg-database  Running                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s
[+] Running 2/2
 ✔ Container pg-database  Running                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s
[+] Running 2/2
 ✔ Container pg-database  Running                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s
[+] Running 2/2
 ✔ Container pg-database  Healthy                                          0.0s
 ✔ Container pgadmin      Running                                          0.0s

In [74]:
# # ingest zones
# !docker compose run --rm ingest_data_misc "python ingest_data_misc/ingest_data_misc.py \
#     --user $db_user \
#     --password $db_password \
#     --host $db_host \
#     --port $db_port \
#     --database $database \
#     --table $table_zones \
#     --url $url_zones"

[+] Creating 1/0
 ✔ Container pg-database  Running                                          0.0s
arguments: Namespace(user='root', password='root', host='postgres', port='5432', database='ny_taxi', table='zone_lut', url='https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv', compression=None, chunksize=100000.0, parse_dates=None)
postgresql://root:root@postgres:5432/ny_taxi

First 5 Rows:
[]
inserted chunk no. "  0" another chunk, took "0.021" seconds

Number of lines:
[(265,)]

In [75]:
# # ingest trips
# !docker compose run --rm ingest_data_misc "python ingest_data_misc/ingest_data_misc.py \
#     --user $db_user \
#     --password $db_password \
#     --host $db_host \
#     --port $db_port \
#     --database $database \
#     --table $table_trips \
#     --url $url_trips \
#     --compression $compression \
#     --parse_dates $parse_dates"

[+] Creating 1/0
 ✔ Container pg-database  Running                                          0.0s
arguments: Namespace(user='root', password='root', host='postgres', port='5432', database='ny_taxi', table='green_tripdata', url='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression='gzip', chunksize=100000.0, parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
postgresql://root:root@postgres:5432/ny_taxi

First 5 Rows:
[]
inserted chunk no. "  0" another chunk, took "16.670" seconds
inserted chunk no. "  1" another chunk, took "16.206" seconds
inserted chunk no. "  2" another chunk, took "16.427" seconds
/app/ingest_data_misc/ingest_data_misc.py:31: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(df_chunks):
inserted chunk no. "  3" another chunk, took "16.844" seconds
inserted chunk no. "  4" another chunk, took "7.248" seconds

Number of lines:
[(449063,)]

---

## Q3. Count records
How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- **15612**
- 15859
- 89009

```sql
SELECT COUNT(*) AS total_trips
FROM 
    green_tripdata
WHERE 
    CAST(lpep_pickup_datetime AS DATE) = '2019-09-18' AND 
    CAST(lpep_dropoff_datetime AS DATE) = '2019-09-18';
```

```text
root@pg-database:ny_taxi> SELECT COUNT(*) AS total_trips
 FROM 
     green_tripdata
 WHERE 
     CAST(lpep_pickup_datetime AS DATE) = '2019-09-18' AND 
     CAST(lpep_dropoff_datetime AS DATE) = '2019-09-18';
+-------------+
| total_trips |
|-------------|
| 15612       |
+-------------+
SELECT 1
Time: 0.363s
```

### A3

`15612`

---

## Q 4. Largest trip for each day
Which was the pick up day with the largest trip distance Use the pick up time for your calculations.

- 2019-09-18
- 2019-09-16
- **2019-09-26**
- 2019-09-21

```sql
SELECT lpep_pickup_datetime, trip_distance
FROM green_tripdata
WHERE
    CAST(lpep_pickup_datetime AS DATE) IN ('2019-09-18', '2019-09-16', '2019-09-26', '2019-09-21')
ORDER BY trip_distance DESC
LIMIT 1;
```

```text
+----------------------+---------------+
| lpep_pickup_datetime | trip_distance |
|----------------------+---------------|
| 2019-09-26 19:32:52  | 341.64        |
+----------------------+---------------+
SELECT 1
Time: 0.360s
```

```sql	
SELECT 
    CAST(lpep_pickup_datetime AS DATE) as "day", 
    trip_distance as max_distance
FROM 
    green_tripdata
WHERE
    CAST(lpep_pickup_datetime AS DATE) IN ('2019-09-18', '2019-09-16', '2019-09-26', '2019-09-21') AND 
    trip_distance = (
        SELECT MAX(trip_distance)
        FROM green_tripdata
        WHERE CAST(lpep_pickup_datetime AS DATE) IN ('2019-09-18', '2019-09-16', '2019-09-26', '2019-09-21')
    );
```

### A4

`2019-09-26`

---

## Q5. Three biggest pick up Boroughs
Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

- **"Brooklyn" "Manhattan" "Queens"**
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens"
- "Brooklyn" "Queens" "Staten Island"

```sql
SELECT
    CAST(t."lpep_pickup_datetime" AS DATE) as "day",
    z."Borough",
    SUM(t."total_amount") AS total_amount
FROM
    green_tripdata t
    LEFT JOIN zone_lut z ON t."PULocationID" = z."LocationID"
WHERE
    CAST(t."lpep_pickup_datetime" AS DATE) = '2019-09-18' AND
    z."Borough" != 'Unknown'
GROUP BY
    z."Borough", CAST(t."lpep_pickup_datetime" AS DATE)
HAVING
    SUM(t."total_amount") > 50000
ORDER BY
    total_amount DESC;
```
```text
+------------+-----------+-------------------+
| day        | Borough   | total_amount      |
|------------+-----------+-------------------|
| 2019-09-18 | Brooklyn  | 96333.23999999976 |
| 2019-09-18 | Manhattan | 92271.29999999913 |
| 2019-09-18 | Queens    | 78671.70999999877 |
+------------+-----------+-------------------+
```

```sql
SELECT *
FROM (
    SELECT
        CAST(t."lpep_pickup_datetime" AS DATE) as "day",
        z."Borough",
        SUM(t."total_amount") AS total_amount
    FROM
        green_tripdata t
        LEFT JOIN zone_lut z ON t."PULocationID" = z."LocationID"
    WHERE
        CAST(t."lpep_pickup_datetime" AS DATE) = '2019-09-18' AND
        z."Borough" != 'Unknown'
    GROUP BY
        z."Borough", CAST(t."lpep_pickup_datetime" AS DATE)
) AS subquery
WHERE
    total_amount > 50000
ORDER BY
    total_amount DESC;
```

### A5

**"Brooklyn" "Manhattan" "Queens"**

---

## Q 6. Largest tip
For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

```sql
SELECT
    CAST(t."lpep_pickup_datetime" AS DATE) as "day",
    zpu."Zone" as "pickup_zone",
    zdo."Zone" as "dropoff_zone",
    t."tip_amount"
FROM
    green_tripdata t
    JOIN zone_lut zpu ON t."PULocationID" = zpu."LocationID"
    JOIN zone_lut zdo ON t."DOLocationID" = zdo."LocationID"
WHERE
    zpu."Zone" = 'Astoria'
ORDER BY
    t."tip_amount" DESC
LIMIT 1;
```

```text
+------------+-------------+--------------+------------+
| day        | pickup_zone | dropoff_zone | tip_amount |
|------------+-------------+--------------+------------|
| 2019-09-08 | Astoria     | JFK Airport  | 62.31      |
+------------+-------------+--------------+------------+
SELECT 1
Time: 0.094s

```

### A6

`JFK Airport`

---

## Terraform
In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. Copy the files from the course repo here to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.

---

## Q 7. Creating Resources
After updating the main.tf and variable.tf files run:

terraform apply
Paste the output of this command into the homework submission form.

In [2]:
pwd

'/home/sy23/github/dezoomcamp/homework/01-docker-terraform'

```bash
cd homework/01-docker-terraform
docker compose run --rm gcloud-config

docker compose run --rm terraform init
docker compose run --rm terraform plant
docker compose run --rm terraform apply
```

```text
Terraform used the selected providers to generate the following execution
plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.demo_dataset will be created
  + resource "google_bigquery_dataset" "demo_dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "demo_dataset"
      + default_collation          = (known after apply)
      + delete_contents_on_destroy = false
      + effective_labels           = (known after apply)
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + is_case_insensitive        = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "US"
      + max_time_travel_hours      = (known after apply)
      + project                    = "some-project-name-123"
      + self_link                  = (known after apply)
      + storage_billing_model      = (known after apply)
      + terraform_labels           = (known after apply)
    }

  # google_storage_bucket.demo-bucket will be created
  + resource "google_storage_bucket" "demo-bucket" {
      + effective_labels            = (known after apply)
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "US"
      + name                        = "terraform-demo-terra-bucket"
      + project                     = (known after apply)
      + public_access_prevention    = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + terraform_labels            = (known after apply)
      + uniform_bucket_level_access = (known after apply)
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "AbortIncompleteMultipartUpload"
            }
          + condition {
              + age                   = 1
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: 
```

Submitting the solutions
Form for submitting: https://courses.datatalks.club/de-zoomcamp-2024/homework/hw01
You can submit your homework multiple times. In this case, only the last submission will be used.
Deadline: 29 January, 23:00 CET